interface/user/setavatar/request.rng

<grammar xmlns= 'http://relaxng.org/ns/structure/1.0' datatypeLibrary='http://www.w3.org/2001/XMLSchema-datatypes'>
	<start>
		<element name='gts'>
			<attribute name='key'>
        		<data type='string'>
					<param name='maxLength'>40</param>
				</data>
    		</attribute>
    		<element name='url'>
    			<data type='string'>
    				<param name="minLength">	11</param>
				</data>
   			</element>
		</element>
	</start>
</grammar>
